<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range $idx, $ele := .}}
    <li>{{$idx}} {{$ele}}</li>
    {{end}}
</ul>
</body>
</html>